.logoNetflix {
    width: 5%;
}
.dimensioni {
    font-size: smaller;
}
.similBtn {
    width: 17%;
    height: 80%;
}


.genresBtn {
    transform: translateX(-10px);
}
.footerHome {
    margin-top: 80px;
   margin-left: 130px;
}
footer button {
    width: 15%;
}
.footerBtn {
    width: 12%;

}
.logoProfilo {
    width: 10%;
}
.lingua, .btn2 {
width: 27%;
}
.mainProfile {
    margin-left: 220px;
}
.navProfile {
    margin-left: 180px;
 }
 .footerProfile {
    margin-left: 90px;
 }
 